.header{
    grid-area: h;
    background: linear-gradient(to right , #9198e5, #e66465, #9198e5);
    border-radius: 7px;
}
.header img{
    height: 80%;
    padding: 5px 5px 5px 10px;
}
.loginBlock{
    float: right;
    padding: 15px 20px;
}
.loginBlock a{
    text-decoration: none;
    color: azure;
}